.back {
  background: #b8ebd0;
  height: 730px;
}
.bannerimgs {
  width: 100%;
  height: 730px;
  /* border: 2px solid red; */
}
.back .texth2 {
  margin-top: 30%;
  margin-left: 20%;
}
.but,
.back p {
  margin-left: 20%;
}
.but {
  background: #301a4b !important;
}
.buttheme1:hover {
  background-color: #301a4b !important;
  border: #301a4b !important;
  color: white !important;
}
.buttheme1 {
  display: inline-block;
  padding: 24px 32px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: white !important ;
  border: 1px solid white !important;
  font-size: 14px;
  color: black !important;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}
.buttheme {
  background-color: #493657 !important;
}
.backall {
  background: #eadeda;
  height: 730px;
}
.lastshow {
  margin-top: 40%;
}

.glassbut {
  display: inline-block;
  padding: 24px 32px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: #c5cbd3 !important ;
  border: 1px solid #c5cbd3 !important;
  font-size: 14px;
  color: black !important;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}
.glassbut:hover {
  background-color: white !important;
  color: black !important;
}
.scrollbut {
  background: #301a4b;
  color: #fff;
  border: 1px solid #301a4b;
  border-radius: 10%;
}

.butfixed{
    position: fixed;
    margin-top: 20%;
}
/*font style */
h1,
h4,
h3 {
  font-family: "Libre Baskerville", serif;
}
.scrollTopBottom {
  position: fixed;
  top: 93%;
}
.thnkimgs {
  height: 300px;
  width: 300px;
}
.groupimgs {
  height: 150px;
  width: auto;
  object-fit: cover;
}

@media screen and (max-width: 750px) {
  .back {
    background: #b8ebd0;
    height: 460px;
  }
  .bannerimgs {
    width: 100%;
    height: 450px;
  }
  .backall1 {
    background: #eadeda;
    height: auto;
  }

  .scrollTopBottom {
    position: fixed;
    top: 90%;
  }
  .thnkimgs {
    height: 300px;
    width: 250px;
  }
}

@media screen  and (min-width: 600px){
	.back {
        background: #B8EBD0;
        height: 410px;
    }
    .backall{
        background: #EADEDA;
        height: 730px;
    }
    .backall1{
      height: 900px;
    }
    .groupimgs {
      height: 150px;
      width: 100%;
    }
  }
