.back {
    background: #B8EBD0;
    height: 730px;
}

.bannerimgs {
    width: 100%;
    height: 730px;
}

.back .texth2 {
    margin-top: 30%;
    margin-left: 20%;
}

.but,
.back p {
    margin-left: 20%;
}  
.backall {
    background: #EADEDA;
    height: 790px;
}
.backaslot{
    background: #EADEDA;
    height: auto;
}
.lastshow {
    margin-top: 40%;
} 
.glassbut {
    display: inline-block;
    padding: 24px 32px;
    border: 0;
    text-decoration: none;
    border-radius: 15px;
    background-color: #c5cbd3 !important;
    border: 1px solid #c5cbd3 !important;
    font-size: 14px;
    color: black !important;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
}
.scrollTopBottom {
  position: fixed;
  top: 93%;
}
.thnkimgs {
  height: 300px;
  width: 300px;
}
.groupimgs {
  height: 150px;
  width: auto;
  object-fit: cover;
}

/*font style */
h1,
h4,
h3 {
    font-family: "Libre Baskerville", serif;
}

.thnkimgs {
    height: 300px;
    width: 300px;
}

.groupimgs {
    height: 100%;
    width: 100%;
}

.scrollbut {
    background: #301a4b;
    color: white;
}

@media screen and (max-width: 750px) {
    .back {
        background: #B8EBD0;
        height: 460px;
    }

    .bannerimgs {
        width: 100%;
        height: 450px;
    }

    .backall {
        background: #EADEDA;
        height: 2600px;
    }

    .thnkimgs {
        height: 300px;
        width: 250px;
    }
}

.active {
    background-color: #F9B9A5;
color:white;
}

.active-text {
    background-color: #F9B9A5;
   color:white;
   
}
.activeSlot{
    
 
    background-color:red !important;
    color:white;

  }  

  .NePreBtn {
    background-color: #493657 !important;
}

.saveBtn{
    background-color:green !important;

}
.cancelBtn{
    background-color: darkred !important;
    
}
.activeDay{
background-color:burlywood !important;
color:black !important;

}
.activeSlot{
    width:150px;
background-color:white !important;
color:black !important;
}
.notAvaialble{
    width:150px;
    background-color:white !important;
color:black !important;
}
.timeSlot
{
    width:150px;
    background-color: #493657 !important;
    color:white !important;
}


.hover{
    cursor: pointer;
}
  
  /* Hide the print button when printing */
  
  
  @media print {
    .printButton {
      display:none !important;
      
    }
  }

  .pagination:hover{
    cursor: pointer;
  }
.errorPage{
    display:flex;
    flex-direction:column;
    justify-content:center;
    background:black;
    min-height: 50rem;
 
}
.innerError{
    display:flex;

    background:black;
justify-content: center;
    align-items:flex-end;
}
.errorText{
    color:white;
}


.activePage{
    color:white;
border:1px solid white;
border-radius:20px;
padding:6px;
background-color: grey;
cursor:default;

}
.page{
    display: none;
}
.appointPage{
    margin-top: 25vh !important;
}